*{
margin: 0;
}
.header-box{
  background-color: #080808;
 

}
.header-box1{
 gap: 100px;
 display: flex;
 justify-content: space-evenly;
background-color: #1B1B1B;
color: #bdbcbc;
height: 70px;
justify-content:center;
gap: 70px;
width: 80%;
align-items: center;
margin: 0px 150px ;
}
.a-class{
    text-decoration: none;
     color: #bdbcbc;

}
.a-class:hover{
    color:  rgb(204, 89, 146);
    font-weight: bold;
    text-shadow: 0 5px rgb(28, 23, 32);
}
.header-box2{
    gap: 50px;
    display: flex;
    justify-content: center;

}

.hero{
    display:flex;
    justify-content: center;
    height: 550px;
  

}
.hero-box{
    display: flex;
    flex-direction: column;
    color:white;
    justify-content: center;
    color: #bdbcbc;
}
.hero-img {
    width: 350px;
    height: 350px;
    padding: 5px;
    border-radius: 200px;
    /* align-self: center; */
    margin: 20px;
    transition: opacity 0.5s ease;
    box-shadow: 2px 2px rgb(204, 89, 146);
}
.hero-img:hover{
    content:url(./Public/photo_2025-12-23_20-44-03.jpg);
    
}
.titleh3{
    margin-top: 30px;
}

.btn-box{
    gap: 70px;
    margin: 50px 0px;
    display: flex;
    align-self:self-start;
    justify-content: center;
   
}
.btn-ctn{
    text-decoration: none;
    color: white;
    background-color: #3F8E00;
    padding: 10px;
    border-radius: 10px;
    gap: 70px;
    margin: 0px 20px;
     box-shadow: 2px 2px rgb(204, 89, 146);
}
.btn-ctn:hover{
    background-color: rgb(204, 89, 146);
}
.btn-view{
    text-decoration: none;
    color: #3F8E00;
    background-color:#bdbcbc;
    padding: 10px;
    border-radius: 10px;
    gap: 70px;
     box-shadow: 2px 2px rgb(204, 89, 146);

}
.btn-view:hover{
   background-color: rgb(204, 89, 146);  
   color:white; 
}
.case-title{
    text-align: center;
    margin-top: 30px;
    line-height: 40px;
}
.tools{
    display: flex;
    justify-content: space-around;
}
.tools-box{
    display: flex;
    align-items: center;
    gap: 10px;
}
.tools-img{
    width: 80px;
    height: 80px;
}
.front-title{
    text-align: center;
    margin-top: 80px;
    font-size: 32px;
    margin-bottom: 50px;
}

.frontend{
    display: flex;
    justify-content:space-around;
}
.front-end{
    display: flex;
    align-items: center;
    gap: 10px;
}
.project-title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.Projects{
    display: flex;
    justify-content: space-around;
   align-items: center;
   margin: 20px;
  

}
.Project-1{
    border: 1px solid black;
    height: 150px;
    text-align: center;
    border-radius: 10px;
     box-shadow: 2px 5px  rgba(7, 6, 6, 0.2);
     margin: 5px;
    
   
}
.footer-box{
     background-color: #080808;
     color: #bdbcbc; 
     text-align: center;
     /* display: flex;
     justify-content: center;
     align-items: center; */
}
.footer1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.footer-boxt input{
    margin: 10px;
    font-size: 14px;
}
.footersumit{
    background-color: #3F8E00;
    color: white;
    padding: 10px 35px;
    margin: 8px;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(204, 89, 146);

}
.footersumit:hover{
  background-color: rgb(204, 89, 146);  
}
.txt input{
    font-size: 14px;
    border-radius: 5px;

}