*{
margin: 0;
}
.header-box{
  background-color: #080808;
 

}
.header-box1{
 gap: 100px;
 display: flex;
 justify-content: space-evenly;
background-color: #1B1B1B;
color: #bdbcbc;
height: 70px;
justify-content:center;
gap: 70px;
width: 80%;
align-items: center;
margin: 0px 150px ;
}
.a-class{
    text-decoration: none;
     color: #bdbcbc;

}
.header-box2{
    gap: 50px;
    display: flex;
    justify-content: center;

}
.hero{
    display:flex;
    justify-content: center;
    height: 550px;
  

}
.hero-box{
    display: flex;
    flex-direction: column;
    color:white;
    justify-content: center;
    color: #bdbcbc;
}
.hero-img{
    width: 350px;
    height: 350px;
    padding: 5px;
    border-radius: 200px;
    align-self: center;
    margin: 20px;
}
.titleh3{
    margin-top: 30px;
}

.btn-box{
    gap: 70px;
    margin: 50px 0px;
    display: flex;
    align-self:self-start;
    justify-content: center;
   
}
.btn-ctn{
    text-decoration: none;
    color: white;
    background-color: #3F8E00;
    padding: 10px;
    border-radius: 10px;
    gap: 70px;
    margin: 0px 20px;
}
.btn-view{
    text-decoration: none;
    color: #3F8E00;
    background-color:#bdbcbc;
    padding: 10px;
    border-radius: 10px;
    gap: 70px;

}
.case-title{
    text-align: center;
    margin-top: 30px;
    line-height: 40px;
}
.tools{
    display: flex;
    justify-content: space-around;
}
.tools-box{
    display: flex;
    align-items: center;
    gap: 10px;
}
.tools-img{
    width: 80px;
    height: 80px;
}
.front-title{
    text-align: center;
    margin-top: 80px;
    font-size: 32px;
    margin-bottom: 50px;
}

.frontend{
    display: flex;
    justify-content:space-around;
}
.front-end{
    display: flex;
    align-items: center;
    gap: 10px;
}
.project-title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.Projects{
    display: flex;
    justify-content: space-around;
   align-items: center;
  

}
.Project-1{
    border: 1px solid black;
    height: 150px;
    text-align: center;
    border-radius: 10px;
     box-shadow: 0 10px 20px rgba(7, 6, 6, 0.2);
    
   
}